.text {
	color: #159957;
	font-weight: medium;
	font-family: Times New Roman;
	text-align: left;
}
.button {
	background-color: #08c27e;
	color: white;
	border: none;
	border-radius: 50%;
	padding: 15px
}
